<div class="container">

  <div class="grid">

    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1445308394109-4ec2920981b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2288&q=80" alt="Card image cap">
          <div class="card-body">
            <a href="#">This Months National Park Getaway ▶</a>
            <p class="card-text">In this vast landscape without roads or trails, adventure awaits well-prepared explorers at Gates of the Arctic National Park & Preserve.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: 30rem;">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1464553186862-680edae5b2bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80" alt="Card image cap">
          <div class="card-body">
            <a href="#">Votes for Women ▶</a>
            <p class="card-text">
              Follow the story of the race to ratification of the 19th Amendment to the Constitution, which was underway 100 years ago.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
