.container {
  margin-top: 15px;
}

/* .card {
  margin: 15px;
  border: none;
} */

/* .grid {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  justify-content: center;
  grid-auto-rows: 500px;
} */

a {
  color: #000000;
  font-weight: bold;
}

.grid {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}