    <div class="mainContent">
      <div class="mainBox">
        <h6>PLACES TO BE, THINGS TO SEE</h6>
        <h1>Get Out to the<br>
          Great Outdoors</h1>
        <button type="button" routerLink="visit" class="btn btn-light">Start Your Adventure</button>
        <!-- <a routerLink="visit">does this work?</a> -->
      </div>
      <div class="searchBar">
        <a href="visit" nghide>FIND A PARK</a>
        <div class="dropdown show">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            By State...
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="visit">Visit</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <div class="seeAll">
        <a href="#">See All Parks & Search By Map</a>
      </div>
      </div>
    </div>
