body {
  background-color: #000000b5!important;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

a {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}

.btn-secondary.dropdown-toggle {
  background-color: #FFFFFF!important;
  width: 90%;
  margin: 10px;
  color: black;
  font-weight: lighter;
  font-size: 14px;
}
