.container {
  margin-top: 15px;
  margin-bottom: 100px;
}

.card {
  margin: 5px;
  border: none;
}

.grid {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(350px, 3fr));
  justify-content: center;
  grid-auto-rows: 300px;
}

a {
  color: #000000;
  font-weight: bold;
}
