.navbar-light .navbar-brand {
  color: white;
  font-family: helvetica;
}

.bg-dark {
  background-color: #000000!important;
}

.navbar {
  color: #FFFFFF!important;
}

img {
  max-width: 40px;
  max-height: 40px;
}
